<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <link rel='stylesheet' href='./stylesheets/style.css'>
  </head>
  <body>
    <!-- page five start -->            
    <div class="sign-up-page">
      <h1>报名</h1>
      <form action="/signup" method="post" enctype="multipart/form-data">
        <div>姓名：<input type="text" name="name"></div>
        <div>手机：<input type="tel" name="tel"></div>
        <div>
          原创作品：<input type="radio" name="original" value="true" checked>
          非原创作品：<input type="radio" name="original" value="false">
        </div>
        <div>
          上传家书：<br>
          <input type="file" name="img1" accept="image/png, image/jpeg, image/gif, image/jpg" hidden>
          <input type="file" name="img2" accept="image/png, image/jpeg, image/gif, image/jpg" hidden>
          <input type="file" name="img3" accept="image/png, image/jpeg, image/gif, image/jpg" hidden>
        </div>
        
        <div id="imgAdd">
          <button type="button"><img src="./images/add.png" alt=""></button>
        </div>
        <div class="preview">
            <img id="prev1" src="" alt="">
            <img id="prev2" src="" alt="">
            <img id="prev3" src="" alt="">
            <p>点击图片重新上传</p>
        </div>
        
        <div>
          上传我的朗读：<input type="file" name="audio" accept="audio/mpeg, audio/mp4, audio/3gpp, audio/ogg" hidden>
        </div>
        <div id="record">
          <img src="./images/audio.png" alt=""><br>
          <button type="button">点击&nbsp;&nbsp;上传</button>
        </div>
        <input type="submit" hidden>
      </form>    
      <h1 id="submit">我要报名</h1>
    </div>
    <!-- page five end -->
    <script src="./javascripts/jquery-3.2.1.min.js"></script>
    <script src="./javascripts/justify-font-size.js"></script>
    <script src="./javascripts/signup.js"></script>
  </body>
  </html>
