<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <link rel='stylesheet' href='./stylesheets/style.css'>
  </head>
  <body>
    <!-- page five start -->            
    <div class="sign-up-page">
      <h1>报名</h1>
      <form action="singup" method="post">
        <div>姓名：<input type="text" name="name"></div>
        <div>手机：<input type="tel" name="tel"></div>
        <div>
          原创作品：<input type="radio" name="original" value="true" checked>
          非原创作品：<input type="radio" name="original" value="false">
        </div>
      </form>
      <form action="" enctype="multipart/form-data" method="post">
        <div>
          上传家书：<br>
          <input type="file" name="" accept="image/png, image/jpeg, image/gif, image/jpg" hidden>
        </div>
        <div id="imgAdd">
          <button type="button"><img src="./images/add.png" alt=""></button>
        </div>
      </form>
      <form action="">
        <div>
          上传我的朗读：<input type="text" name="audio">
        </div>
      </form>    
      <h1 id="submit">我要报名</h1>
    </div>
    <!-- page five end -->
    <script src="./javascripts/jquery-3.2.1.min.js"></script>
    <script src="./javascripts/justify-font-size.js"></script>
    <script>
      $(function(){
        $('#submit').click(function(){
          var name = $("input[name='name']").val();
          var tel = $("input[name='tel']").val();
          var original = $("input[name='original']:checked").val();
          // console.log(original);
          var regExpTel = /^1[34578]\d{9}$/;
          if(name===''){
            alert('姓名不能为空！')
          }else if(tel === ''){
            alert('手机号不能为空！')
          }else if(!regExpTel.test(tel)){
            alert('手机号格式错误，请重新填写！')
          }
        });

        // 解决输入框弹出时背景图发生改变
        var originHeight = window.innerHeight;
        window.onresize=function(){
          $('html').height(originHeight);
        }
      });
    </script>
  </body>
  </html>
