<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <link rel='stylesheet' href='./stylesheets/style.css'>
  </head>
  <body>
    <!-- page six start -->
        <!-- 报名成功后将其显示，并添加swiper-slide类-->
        <div class="success-page swiper-slide">
          <h1>报名成功</h1>
          <img src="./images/code.png" alt="">
          <p>扫描二维码关注herpink</p>
          <div><a href="./">返回首页</a></div>
        </div>
    <!-- page six end -->
    <script src="./javascripts/jquery-3.2.1.min.js"></script>
    <script src="./javascripts/justify-font-size.js"></script>
  </body>
  </html>
