<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="./swiper/swiper.min.css">
    <link rel='stylesheet' href='./stylesheets/style.css'>
  </head>
  <body>
  <div class="swiper-container">
    <div class="swiper-wrapper">

        <!-- page one start -->
        <div class="swiper-slide">
          <div class="title">
            <h2>“<br>家<br>书<br>抵<br>万<br>金<br>”<br>朗<br>读<br>大<br>赛</h2>
            <div class="arrow" id="arrow"></div>
          </div>
          
          <div class="img-part">
            <img src="./images/page1/chalingshizijie84hao.jpg" class="img1">
            <img src="./images/page1/geiqingnianshirendexin.jpg" class="img2">
            <img src="./images/page1/ainijiuxiangaishengming.jpg" class="img3">
            <img src="./images/page1/jianxinruwu.jpg" class="img4">
            <img src="./images/page1/shujiansandie.jpg" class="img5">
            <img src="./images/page1/fuleijiashu.jpg" class="img6">
            <img src="./images/page1/zhushenghaoqingshuquanji.jpg" class="img7">
            <img src="./images/page1/hushishuxinxuan.jpg" class="img8">
          </div>
        </div>
        <!-- page one end -->

        <!-- page two start -->
        <div class="swiper-slide img-page">
          <img src="./images/page2/img_01.jpg" data-top="2.8rem" data-left="3.1rem">          
          <img src="./images/page2/img_02.jpg" data-top="0.2rem" data-left="0.2rem">          
          <img src="./images/page2/img_03.jpg" data-top="5.5rem" data-left="0.2rem">      
          <img src="./images/page2/img_04.jpg" data-top="7.9rem" data-left="3.2rem">          
          <img src="./images/page2/img_05.jpg" data-top="0.4rem" data-left="3.2rem">          
          <img src="./images/page2/img_06.jpg" data-top="3.0rem" data-left="0.1rem">          
          <img src="./images/page2/img_07.jpg" data-top="5.4rem" data-left="3.1rem">          
          <img src="./images/page2/img_08.jpg" data-top="7.8rem" data-left="0.3rem">          
          <!--
          <img src="./images/page2/img_09.jpg" data-top="1.4rem" data-left="0.5rem">          
          <img src="./images/page2/img_10.jpg" data-top="4.2rem" data-left="2.6rem">          
          <img src="./images/page2/img_11.jpg" data-top="6.5rem" data-left="0.6rem">          
          <img src="./images/page2/img_12.jpg" data-top="7.9rem" data-left="2.3rem">          
          <img src="./images/page2/img_13.jpg" data-top="2.0rem" data-left="2.3rem">          
          <img src="./images/page2/img_14.jpg" data-top="4.1rem" data-left="0.3rem">          
          <img src="./images/page2/img_15.jpg" data-top="6.3rem" data-left="2.7rem"> 
          -->     
        </div>
        <!-- page two end -->

        <!-- page three start -->
        <div class="swiper-slide">
          <div class="intro">
            <h1>活动介绍</h1>
            <p>家书是一种融亲情、乡情、友情于一体的独特民族文化现象。我们将在国际家庭日与市妇联拟联合市文明办当天在全市启动“家书抵万金”朗读活动。</p>
            <div class="item">
              一、活动主题及形式
              <p>
                活动主题：家书朗读<br>
                活动形式：海选、复赛、决赛
              </p>
            </div>
            <div class="item">
                二、主承办单位
                <p>
                  主办单位：武汉市文明办、武汉市妇联<br>
                  承办单位：粉红网<br>
                  协办单位：江城朗读者<br>
                </p>
            </div>
            <div class="item">
              三、参加对象
              <p>全市广大家庭（包括现居住在汉的港澳台、外籍人士家庭 ）</p>
            </div>
            <div class="item">
              四、活动流程
              <p>
                1、海选：100名（5月15日-6月15日）<br>
                2、复赛：10-15名（6月下旬）<br>
                3、决赛：（7月中旬）<br>
              </p>
            </div>
            <div class="item">
              五、奖项设置及奖品
              <p>
                参与及获奖者均获得相应的奖品和证书 
              </p>
            </div>
          </div>
        </div>
        <!-- page three end -->

        <!-- page four start -->
        <div class="swiper-slide start-page">
            <video src="./videos/cat.mp4" controls></video>
            <div class="slogan">
              <h1>弘扬家风，我爱我家。</h1>
              <p>我和家人一起启动 “ 家书抵万金 ” 朗读活动</p>
            </div>
            <div class="start-btn" id="startBtn">
              <h1>启动</h1>
              <p>点击开始报名</p>
            </div>
        </div>
        <!-- page four end -->

    </div>
    <!-- 如果需要分页器 -->
    
    <div class="swiper-pagination"></div>
    
    
    <!-- 如果需要导航按钮 -->
    <!-- 
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    -->
    <!-- 如果需要滚动条 -->
    
    <div class="swiper-scrollbar"></div>
    
  </div>
    
    <script src="./javascripts/jquery-3.2.1.min.js"></script>
    <script src="./javascripts/html5media.min.js"></script>
    <script src="./javascripts/justify-font-size.js"></script>
    <script src="./swiper/swiper.min.js"></script>
    <script src="./javascripts/index.js"></script>
  </body>
</html>
